<a href="/ateliers">Voir liste ateliers</a>


<form action="/ateliers/update/<%= atelier._id %>" method="POST">

    titre atelier:
    <input type="text" name="titre" value="<%= atelier.titre %>" placeholder="titre" />
    <br> Description:
    <input type="text" name="description" value="<%= atelier.description %>" placeholder="description" />
    <br> Date:
    <input type="date" name="date" value="<%= atelier.date %>" placeholder="date" />
    <br> Horaire:
    <input type="text" name="horaire" value="<%= atelier.horaire %>" placeholder="horaire" />
    <br> Durée:
    <input type="text" name="duree" value="<%= atelier.duree %>" placeholder="duree" />
    <br> Place disponible:
    <input type="number" name="place_disponible" value="<%= atelier.place_disponible %>" placeholder="place_disponible" />
    <br> Place reservée:
    <input type="number" name="place_reserve" value="<%= atelier.place_reserve %>" placeholder="place_reserve" />
    <br> Prix:
    <input type="number" name="prix" value="<%= atelier.prix %>" placeholder="prix" />
    <br> image:
    <input type="text" name="image" value="<%= atelier.image %>" placeholder="image" />


    <input type="submit" value="Mettre à jour" />

</form>