
<% include ../partials/head.ejs %>

<body class="bg_page">
    <% include ../partials/header.ejs %>
    <main class="container mt-5">
        <div class="container bg-white ">
            <section class="row animated fadeIn">
                <div class="col-md-4 mx-auto mt-5 mb-5">
                    <h1 class="title_page"> 
                        <!--<i class="fas fa-utensils mr-2 icon_title "></i> -->
                        <img class="d-block img_title" src="/img/img-title.png" alt="">
                        Les ateliers
                    </h1>
                <!--  <hr> -->
                </div>    
            </section>
        </div>
        <section class="container bg-white p-5">
            <div class="row mb-5 animated-1 fadeIn">
                <% for (var i = 0; i<ateliers.length; i++) { %>
                <article class="col-md-3 mb-5 pb-3">
                    <img src="/img/<%= ateliers[i].image %>" class="w-100">
                    <h3 class="mt-3 pink">Atelier
                        <%= ateliers[i].titre %>
                        <hr>
                    </h3>
                    <p><b>Date :</b>
                        <%= ateliers[i].date %>
                    </p>
                    <p><b>Description :</b>
                        <%= ateliers[i].description %>
                    </p>
                    <p><b>Horaire :</b>
                        <%= ateliers[i].horaire %>
                    </p>
                    <p><b>duree :</b>
                        <%= ateliers[i].duree %> min</p>
                    <p><b>Place_disponible :</b>
                        <%= ateliers[i].place_disponible %>
                    </p>
                    <p><b>Place_reserve :</b>
                        <%= ateliers[i].place_reserve %>
                    </p>
                    <p><b>Prix:</b>
                        <%= ateliers[i].prix %>
                    </p>
                    <a  class="btn btn-primary btn_orange border-0" href="/ateliers/edit/<%=ateliers[i]._id %>">Editer</a>
                </article>
                <% } %>
            </div> 
        </section>
    </main>
<% include ../partials/footer.ejs %>        