<% include ../partials/head.ejs %>

<body>
    <% include ../partials/header.ejs %>
    <main>
        <div class="container-fluid bg_page padding_perso">
            <section class="container bg-white">
                <div class="row text-center">
                    <div class="col-md-12 mt-3">
                        <h4 class="bg_success text-white p-2">Votre atelier a été créé!</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <img src="/img/<%= atelier.image %>" class="img_inscription mt-3">
                    </div>
                    <div class="col-md-4">
                        <h3 class="mt-3 pink">Atelier
                            <%= atelier.titre %>
                            <hr>
                        </h3>
                        <p><b>Date :</b>
                            <%= atelier.date %>
                        </p>
                        <hr>  
                        <div class="mb-3">
                            <h4>
                                <i class="far fa-clock pink"></i>
                                Horaire : <%= atelier.horaire %>
                            </h4>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <h4>
                                <i class="far fa-hourglass pink"></i>
                                durée :  <%= atelier.duree %>
                            </h4>
                            <hr>
                        </div>    
                        <div class="mb-3">
                            <h4>
                                <i class="fas fa-tag pink"></i>
                                Places disponibles : <%= atelier.place_disponible %>
                            </h4>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <h4>
                                <i class="far fa-check-square pink"></i>
                                Places réservées : <%= atelier.place_reserve %>
                            </h4>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <h4>
                                <i class="fas fa-money-bill pink"></i>
                                Prix: <%= atelier.prix %>
                            </h4>
                            <hr>
                        </div>   
                    </div>
                </div>
            </section>
        </div>
        <section class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 mt-5">
                    <h3 class="orange">Description :</h3>
                    <%= atelier.description %>
                </div>
            </div> 
        </section>
    </main>                    
    <% include ../partials/footer.ejs %>                     
                    
                    
                    
                